# Logs
vue-ver/hardlight-calc/logs
vue-ver/hardlight-calc/*.log
vue-ver/hardlight-calc/npm-debug.log*
vue-ver/hardlight-calc/yarn-debug.log*
vue-ver/hardlight-calc/yarn-error.log*
vue-ver/hardlight-calc/pnpm-debug.log*
vue-ver/hardlight-calc/lerna-debug.log*

vue-ver/hardlight-calc/node_modules
vue-ver/hardlight-calc/dist
vue-ver/hardlight-calc/dist-ssr
vue-ver/hardlight-calc/*.local

# Editor directories and files
vue-ver/hardlight-calc/.vscode/*
vue-ver/hardlight-calc/.vscode/!.vscode/extensions.json
vue-ver/hardlight-calc/.vscode/extensions.json
vue-ver/hardlight-calc/.idea
vue-ver/hardlight-calc/.DS_Store
vue-ver/hardlight-calc/*.suo
vue-ver/hardlight-calc/*.ntvs*
vue-ver/hardlight-calc/*.njsproj
vue-ver/hardlight-calc/*.sln
vue-ver/hardlight-calc/*.sw?

vue-ver/hardlight-calc/memo/

# chrome extension build output
chrome-extention/dist/

# chrome extension dependencies
chrome-extention/node_modules/
